.SWCharList {
    display: flex;
    flex-flow: column nowrap;
}

li {
    list-style: none;
    list-style-type: none;
}

.charList {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.charList li {
    display: flex;
    width: 50%;
    flex-flow: column nowrap;
    border: 1px solid black;
}